<table class="profile" summary="Profile information">
	<tr>
    	<td id="main">
      		<h1>
        		<%= @user.name %>
      		</h1>
		</td>
    	<td>
      		<strong>Name</strong> <%= @user.name %><br />
      		<strong>Email</strong> <%= @user.email %><br />
			
			<% if @league.nil? %>
				<strong>No League Joined</strong>
			<% else %>
				<strong>League</strong> <%= link_to @league.name, @league %>
    		<% end %><br/>
			<strong><%= link_to "Edit Profile",
					edit_user_path(current_user) %></strong><br/>
			
		</td>
  	</tr>
	<tr>
		<td>
			<h2>Games Played</h2>
			<ul class="leagues">
				<% @game.each do |game| %>
	    		<li>
	      			<%= link_to game.id, game %>
	    		</li>
	  			<% end %>
			</ul>
		</td>
	</tr>
</table>